enable-pre-post-scripts=true
public-hoist-pattern[]=*swc*
public-hoist-pattern[]=*@babel*
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=@tarojs/binding
public-hoist-pattern[]=core-js
public-hoist-pattern[]=core-js-pure
public-hoist-pattern[]=swiper
unsafe-perm=true
auto-install-peers=true